@import (reference) "../../less/variables.less";

.grid {
  & .swiper-slide {
    height: auto;
  }

  &__item {
    position: relative;

    height: 100%;
  }

  &__item_center_mob {
    @media screen and (max-width: @phone) {
      margin: auto;
    }
  }

  &__item.is-not-available a {
    pointer-events: none;

    opacity: 0.5;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    height: 100%;

    transition: @transition;
  }

  &__top {
    position: relative;

    flex-shrink: 0;

    &:not(:first-child) {
      margin-top: 16px;

      @media screen and (max-width: @tablet-small) {
        margin-top: 8px;
      }
    }

    .grid__item_second & {
      overflow: hidden;

      border-radius: 12px;
    }
  }

  &__link {
    display: block;
  }

  &__img {
    display: block;

    width: 100%;
  }

  &__item:hover &__img_first {
    @media screen and (min-width: @hamburger + 1) {
      display: none;
    }
  }

  &__img_second {
    display: none;
  }

  &__item:hover &__img_second {
    @media screen and (min-width: @hamburger + 1) {
      display: block;
    }
  }

  &__like {
    position: absolute;
    top: 16px;
    right: 8px;

    display: flex;

    cursor: pointer;

    @media screen and (max-width: @tablet-small) {
      top: 8px;
    }
  }

  &__like:hover .icon_heart {
    fill: @color-first;
  }

  &__like.is-filled .icon_heart {
    fill: @color-first;
  }

  &__bottom {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    padding: 16px;

    background-color: @color-text-second;

    flex-grow: 1;

    .grid__item_second & {
      background-color: transparent;
    }
  }

  &__title {
    margin-bottom: 16px;

    user-select: none;

    font-size: 24px;

    .ditails &,
    .segments & {
      @media screen and (max-width: @tablet) {
        font-size: 18px;
      }
    }
  }

  &__size {
    font-size: 16px;

    .grid__item_second & {
      @media screen and (max-width: @tablet) {
        font-size: 14px;
      }
    }
  }

  &__price {
    margin-top: 8px;

    color: @color-brand;

    font-size: 20px;
  }

  &__text {
    font-size: 16px;

    @media screen and (max-width: @tablet) {
      font-size: 14px;
    }
  }
}
