@import (reference) "../../less/variables.less";

.logo {
  width: 130px;
  
  text-transform: uppercase;
  
  color: @color-brand;
  
  font-weight: bold;
  
  @media screen and (max-width: @hamburger) {
    width: 120px;
  }

  &_py10 {
    padding: 10px 0;
  }
  
  &_mr {
    margin-right: 64px;
  }

  &_white {
    color: @color-text-second;
  }

  &_grey {
    color: @color-gray-normal;
  }

  &__icon {
    display: block;

    width: 100%;
  }
}
