@import (reference) '../../less/variables.less';

.footer {
  background-color: @color-text;
  padding: 60px 0;
  color: @color-gray-normal;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__copy {
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
  }

  &__email {
    color: @color-text-second;
  }
}
